{{ $layout := "col-lg-9 offset-lg-1" }}

{{- partial "header_page.html" (dict "currentNode" . "layout" $layout) }}

    <!-- Main Content -->
    <div class="container">
      <div class="row">
        <div class="{{ $layout }}">
          <div class="post-page">
          {{ if .Site.Params.Debug}}theme/layout/post/list.html{{end}}
          {{ range .Paginator.Pages }}
              {{ .Render "summary" }}
              <hr>
              {{ end }}
          </div>
          {{- partial "pagination.html" . }}
        </div>
      </div>
    </div>

{{- partial "footer.html" . }}
