{{- $layout := .layout }}
{{- with .currentNode}}
  <div class="breadcrumb">
    <div class="container">
      <div class="row">
        <div class="{{ $layout}}">
          {{- template "breadcrumb" dict "page" . "value" .Title }}   
        </div>
      </div>
    </div>
</div>
{{ end }}

{{define "breadcrumb"}}
{{ if .page.Parent}}
  {{$value := (printf "<a href='%s'>%s</a> > %s" .page.Parent.URL .page.Parent.Title .value)}}
  {{- template "breadcrumb" dict "page" .page.Parent "value" $value }} 
{{else}}
  {{.value|safeHTML}}
{{end}}
{{end}}

