    <hr>
    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                  <ul class="list-inline text-center">
                    {{ with .Site.Params.email }}
                      <li class="list-inline-item social">
                        <a href="mailto:{{ . }}">
                          <span class="fa-stack fa-lg">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-envelope-o fa-stack-1x fa-inverse"></i>
                          </span>
                        </a>
                      </li>
                    {{ end }}
                    {{ range .Site.Params.social }}
                    <li class="list-inline-item social">
                      <a href="{{ .url }}">
                        <span class="fa-stack fa-lg">
                          <i class="fa fa-circle fa-stack-2x"></i>
                          <i class="fa fa-{{ .title }} fa-stack-1x fa-inverse"></i>
                        </span>
                      </a>
                    </li>
                    {{ end }}
                  </ul>
                  <p class="copyright text-muted">{{ .Site.Copyright }}</p>
                </div>
            </div>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="{{ .Site.BaseURL }}/js/bootstrap.min.css"></script>

    <script src="{{ .Site.BaseURL }}/js/baguetteBox.min.js"></script>
    <script>
      baguetteBox.run('.galleryscg');
    </script>    
    <!-- Custom Theme JavaScript -->
    <script src="{{ .Site.BaseURL }}/js/theme.js"></script>
    {{ range .Site.Params.custom_js -}}
    <script src="{{ . | absURL }}"></script>
    {{- end }}
    {{ template "_internal/google_analytics.html" . }}

</body>
</html>
