{{- partial "head.html" . }}

<body>

<header class="hero overlay">
  {{- partial "navbar.html" . }}
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <br>
      </div>
    </div>
  </div>
</header>

{{ if or (eq .Page.Type  "documentation") (.Page.Params.breadcrumb ) }}
<div class="breadcrumb">
  <div class="container">
    {{- template "breadcrumb" dict "page" . "value" .Title }}   
  </div>
</div>
{{end}}

{{define "breadcrumb"}}
{{ if .page.Parent}}
{{$value := (printf "<a href='%s'>%s</a> > %s" .page.Parent.URL .page.Parent.Title .value)}}
{{- template "breadcrumb" dict "page" .page.Parent "value" $value }} 
{{else}}
 {{.value|safeHTML}}
{{end}}
{{end}}

