<div class="container">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark bg-primary">
    <a class="navbar-brand" href="{{ .Site.BaseURL }}">
        <!-- <img src="/img/site-logo.png" class="d-inline-block align-top" alt=""> -->
        {{ .Site.Title }}
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
        {{ range .Site.Menus.main }}
          <li class="nav-item"> <a class="nav-link" href="{{ .URL }}">{{ .Name }}</a></li>
        {{end}}  
        {{ range .Site.Params.social }}
          <li class="nav-item">
            <a class="nav-link" href="{{ .url }}" target="_blank" rel="noopener" aria-label="GitHub">
              <span class="fa fa-github fa-2x"></span>
            </a>
          </li>        
        {{ end}}
      </ul>
    </div>
  </nav>
</div>
  