<!--
Highlight file, provide download link.
File name should contain full path.
-->

{{- $lang := .Get "language" | default ("python") }}
{{- $opt := .Get "opt" | default ("linenos=table") }}

{{- $filelink := (trim (.Get "file") "/static") -}}
{{$file := .Get "file" | readFile}}
{{ $justTheSplit := split $filelink "/" }}
{{ $lastPartOnly := index (last 1 $justTheSplit) 0}}

{{ highlight (print $file) $lang $opt}}
<a class="linktofile" href="{{ .Site.BaseURL }}/{{$filelink}}"/>
    {{$lastPartOnly}}
</a>

