{{ $imagename := .Get "src" }}
{{ $command := .Get "command" }}
{{ $options := .Get "options" }}
{{ $caption := .Get "caption" }}

{{ $original := .Page.Resources.GetMatch (printf "%s*" $imagename) }}

  {{ if eq $command "Fit"}}
    {{ .Scratch.Set "image" ($original.Fit $options) }}
  {{ else if eq $command "Resize"}}
    {{ .Scratch.Set "image" ($original.Resize $options) }}
  {{ else if eq $command "Fill"}}
    {{ .Scratch.Set "image" ($original.Fill $options) }}
  {{ else }}
    {{ errorf "Invalid image processing command: Must be one of Fit, Fill or Resize."}}
  {{ end }}
  {{ $image := .Scratch.Get "image" }}
  <figure>
    <a class="lightbox" href="{{ $original.RelPermalink }}" data-caption="{{ $caption}}" >
	    <img src="{{ $image.RelPermalink }}" width="{{ $image.Width }}" height="{{ $image.Height }}" alt="{{$caption}}">
    </a>
    <figcaption>
      <p> {{- $caption -}} </p>
    </figcaption>  
 </figure>   
